/*  Reset Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.container{
    width: 1440px;
    margin: 0 auto;
    background-color: bisque;
    text-align: center;
}

/* Main */

.site_header{
    height: 160px;
    background-color: coral;
}
.img_header{
    height: 80px;
    background-color: chartreuse;
    line-height: 80px;
}
.site_nav{
    height: 50px;
    margin: 15px 0;
    background-color: aqua;
    line-height: 50px;
}
.img_main{
    height: 500px;
    background-color: brown;
    color: white;
    line-height: 500px;
    position: relative;
}
.text_img{
    width: 620px;
    height: 150px;
    position: absolute;
    left: 30px;
    bottom: 45px;
    background-color: rgba(65, 182, 90, 0.349);
    line-height: 150px;
}